name: Refresh Data Pipeline

on:
  push:
  pull_request:
  schedule:
    - cron: "45 23 * * 5"

jobs:
  routine-task:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install the requirements in the txt file using pip
      run: |
        python -m pip install -r requirements.txt

    - name: Accessing motherduck token
      run: | 
        export motherduck_token="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzZXNzaW9uIjoicnVpei5yaXZlcmE5My5nbWFpbC5jb20iLCJlbWFpbCI6InJ1aXoucml2ZXJhOTNAZ21haWwuY29tIiwidXNlcklkIjoiZGJiMmE2ZmYtMmZjNi00YjM2LTkzOGQtYzBmMzI5MWRlMWY4IiwiaWF0IjoxNjk5MTU2ODY3LCJleHAiOjE3MzA3MTQ0Njd9.thS_zI3creCQvb5ctSXaxt9nUvNvep7La2M-faJ0j3A"

    - name: Executing Python script refreshing data on Motherduck.
      run: |
        python src/etl/refresh_data.py